[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Marty Jones
	email = <<<<<<REDACTED FILL THIS IN>>>>>
[alias]
	st = status -sb
	ll = log --oneline
	last = log -1 HEAD --stat
	cm = commit -m
	rv = remote -v
	d = diff
	dv = difftool -t vimdiff -y
	gl = config --global -l
[difftool]
	trustExitCode = true
